@charset "UTF-8";

/* seção services */

.services {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.sSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-title {
    font-size: 60px;
    margin-bottom: 24px;
    text-align: start;
}

.serviceList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.service {
    width: 75%;
    padding: 30px;
    border-radius: 20px;
    background-color: #cab4d9a6;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.serviceIcon {
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceIcon img {
    width: 26px;
    height: 26px;
}

.serviceInfo h2 {
    font-size: 18px;
    font-weight: 525;
    margin-bottom: 8px;
}

.serviceInfo p {
    font-size: 14px;
    font-weight: 475;
    color: rgba(0, 0, 0, 0.900);
}

.service:nth-child(1) .serviceIcon {
    background-color: #d2a3f1;
}

.service:nth-child(2) .serviceIcon {
    background-color: #c291f2;
}

.service:nth-child(3) .serviceIcon {
    background-color: #ae7ef2;
}

.counterList {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.counter {
    display: flex;
    flex-direction: column;
}

.counter h1 {
    font-size: 42px;
    color: var(--color-5);
    font-weight: 700;
}

.counter p {
    font-size: 14px;
    font-weight: 550;
}

@media (max-width: 1536px) {
    .service,
    .counterList {
        width: 70%;
    }

    .services-title {
        font-size: 60px;
    }

    .service {
        width: 90%;
    }
}

@media (max-width: 1280px) {
    .service {
        width: 100%;
    }

    .services-title {
        font-size: 52px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .services-title {
        font-size: 45px;
    }

    .service {
        gap: 8px;
        padding: 20px;
    }

    .service,
    .counterList {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sSection {
        width: 100%;
    }

    .services-title {
        font-size: 45px;
    }

    .sSection.right {
        display: none;
    }

    .services {
        align-items: center;
        justify-content: center;
    }
}